altair
attrs
bcrypt
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
deta
extra-streamlit-components
gitdb
idna
importlib-metadata
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
PyJWT
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
rich
six
smmap
streamlit
streamlit-authenticator
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
geopandas
plotly.express
load_dotenv
